.expenses {
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fade-in 0.3s forwards;
}

.start-text {
    font-size: 1.125rem;
    text-align: center;
}

@media screen and (max-width: 470px) {
    .start-text {
        font-size: 1.125rem;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
