.add-people {
    background: var(--item-bg);
    padding: 1em;
    border-radius: 1em;
}

.action {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
}

@media screen and (max-width: 470px) {
    .add-people {
        padding: 0.8em;
    }

    .action {
        column-gap: 0.8em;
    }

    .action button {
        font-size: 0.875rem;
    }
}
