.name {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.4em;
}

.text {
    font-size: 1rem;
    font-weight: 400;
}

.text span {
    font-weight: 600;
    color: var(--highlight);
}
