.backdrop {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
}

.modal {
    background: var(--dark);
    border-radius: 1em;
    display: flex;
    align-items: center;
    column-gap: 2em;
    max-width: 40rem;
    min-width: 21rem;
    margin: 0 auto;
    height: 8em;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.13);
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation: scale-up-center 0.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.exit {
    -webkit-animation: slide-out-top 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
    animation: slide-out-top 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

.color {
    border-radius: 1em 0 0 1em;
    height: 100%;
    width: 1.5em;
}

.modal svg {
    min-width: 4em;
    min-height: 4em;
}

.modal button {
    cursor: pointer;
    transition: transform 0.1s;
    font-size: 1rem;
    border: none;
    padding: 0.7em 1.7em;
    border-radius: 0.7em;
}

.modal button:hover {
    transform: scale(1.08);
}

@media screen and (max-width: 470px) {
    .modal {
        column-gap: 0.5em;
        height: 6em;
    }

    .modal svg {
        min-width: 2.5em;
        min-height: 2.5em;
    }

    .modal p {
        font-size: 0.875rem;
    }

    .modal button {
        padding: 0.4em 1.2em;
        margin-right: 0;
        border-radius: 0.6em;
    }

    .color {
        width: 1em;
    }
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}
@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}
