.title {
    font-size: 1rem;
    font-weight: 500;
}

.amount {
    font-size: 1rem;
}

.amount > span {
    color: var(--highlight);
    font-weight: 600;
}

.status {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}

.status > div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 100vh;
}

.finished {
    background-color: var(--green);
}

.unfinished {
    background-color: var(--yellow);
}

.action {
    display: flex;
    column-gap: 1em;
}
