.header {
    text-align: center;
    padding: 1.5em 0;
}

.header p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--purple);
}

@media screen and (max-width: 480px) {
    .header p {
        font-size: 1.375rem;
    }
}
