:root {
    --dark: #17171a;
    --bright-purple: #6448d4;
    --purple: #6917f0;
    --highlight: #8f8df0;
    --item-bg: #1f202e;
    --placeholder-text: #4f4d5e;
    --unchecked: #3d3a4a;
    --bg: #1a1a1d;
    --red: #ff5555;
    --green: #00ff94;
    --yellow: #ffc46c;
}
