.add-people {
    background: var(--item-bg);
    padding: 1em;
    border-radius: 1em;
}

.inputs {
    display: flex;
    column-gap: 1em;
    margin-bottom: 1em;
}

.action {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
}
