.button {
    background: var(--purple);
    display: flex;
    align-items: center;
    column-gap: 0.4em;
    margin: 1em 0;
    border: none;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0.8em 1.6em;
    border-radius: 10em;
    cursor: pointer;
    transition: transform 0.2s;
}

.button:hover {
    transform: scale(1.08);
}

@media screen and (max-width: 470px) {
    .button {
        font-size: 1rem;
    }
}
