@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("./css/variables.css");

* {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--bg);
}

main {
    max-width: 27rem;
    min-width: 23.125rem;
    margin: 0 auto;
    padding: 1em;
}
